$breakpoint-huge: 1824px;
$breakpoint-extralarge: 1224px;
$breakpoint-largest: 1024px;
$breakpoint-medium: 768px;
$breakpoint-small: 480px;
$breakpoint-smallest: 320px;

$primary: #333333;
$secondary: #fff;
$tertiary: #000;
$quaternary: #ee171e;
